*
 {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
  background-color: #38241942;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}


/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}


/* content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #5bb3ce;
  padding: 10px;
  min-height: calc(40vh - 40px);
}

/* footer */
footer {
  background-color: #2e3435;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/* Navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1b5aac;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #4d8035;
}

.active {
  background-color: #27a070;
}
